* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;

}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: no-repeat;
    background-image: url(../imagenes/fondo.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    width: auto;
    height: auto;
}

header {
    background-color: #ffca42b5;
    color: #fff;
    padding: 10px 0;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo {
    width: 80px;
    height: 80px;
    background-color: black;
}
.menu {
    list-style-type: none;
    display: flex;
}

.menu li {
    margin-left: 20px;
}

.menu li a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.menu li a:hover {
    background-color: 555;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #333;
    z-index: 1;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li {
    margin: 0;
}

.dropdown-menu li a {
    padding: 10px;
    display: block;
}

.nav-lado{
    width: 100%;
}

.container-wrapper {
    display:flex;
    flex-wrap:wrap;
    justify-content:center; 
    padding: 20px;
}

footer {
    background-color: #ff5542d1;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-logo img {
    width: 120px; 
}

.footer-links ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-links ul li {
    margin: 0 10px;
}

.footer-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    padding: 10px 15px;
    border: 1px solid #fff;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.footer-links ul li a:hover {
    background-color: #fff;
    color: #fff;
}

.footer-bottom {
    margin-top: 20px;
}

.footer-bottom p {
    font-size: 12px;
    opacity: 0.7;
}

.hidden-info {
    display: none;
    background-color: #f0f0f0;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    text-align: center;
}

.hidden-info p {
    margin: 5px 0;
}

.comentarios-icon {
    margin-left: 47px;
    margin-top: 18px;
    width: 70px;
    height: auto;
}

.footer-linkscomentario ul li a {
    text-decoration: none;
    list-style: none;
    font-size: 14px;
    color: #ffffff00;
}