/* Reset de estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #333;
}

header {
    background-color: #024cb5;
    color: #fff;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.menu {
    list-style-type: none;
    display: flex;
}

.menu li {
    margin-left: 20px;
}

.menu li a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.menu li a:hover {
    background-color: #555;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #333;
    z-index: 1;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li {
    margin: 0;
}

.dropdown-menu li a {
    padding: 10px;
    display: block;
}

.search-container {
    margin-left: auto; /* Mueve el buscador a la esquina derecha */
    margin-right: 20px; /* Espacio entre el buscador y el menú */
}

.search-container form {
    display: flex;
}

.search-container input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-container button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
}

.search-container button:hover {
    background-color: #45a049;
}

.nav-lado{
    width: 50%;
}

.lado-buscador{
    display: flex;
    justify-content: end;
}