/* Reset de estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #333;
}

header {
    background-color: #024cb5;
    color: #fff;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.menu {
    list-style-type: none;
    display: flex;
}

.menu li {
    margin-left: 20px;
}

.menu li a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.menu li a:hover {
    background-color: #555;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #333;
    z-index: 1;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li {
    margin: 0;
}

.dropdown-menu li a {
    padding: 10px;
    display: block;
}

.search-container {
    margin-left: auto; /* Mueve el buscador a la esquina derecha */
    margin-right: 20px; /* Espacio entre el buscador y el menú */
}

.search-container form {
    display: flex;
}

.search-container input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-container button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
}

.search-container button:hover {
    background-color: #45a049;
}

.nav-lado{
    width: 50%;
}

.lado-buscador{
    display: flex;
    justify-content: end;
}

.container-wrapper {
    display:flex;
    flex-wrap:wrap;
    justify-content:center; /* Distribuye el espacio alrededor de los contenedores */
    padding: 20px;
}

.container {
    position:relative;
    font-size: 15px;
    border: 3px solid rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    line-height: 25px;
    width: 400px;
    overflow:hidden;
    transition: all 0.5s ease;
    margin: 0 30px; /* Espacio entre contenedores */
    background-color: #444;
    padding: 0px;
    margin-top: 50px;
}

.container1 {
    position:relative;
    font-size: 15px;
    border: 5px solid gold;
    border-radius: 20px;
    line-height: 25px;
    width: 400px;
    overflow:hidden;
    transition: all 0.5s ease;
    margin: 0 30px; /* Espacio entre contenedores */
    background-color: #444;
    padding: 0px;
    margin-top: 50px;
}

.container:hover {
    transform: scale(1.05);
}

.movie-image {
    width: 100%;
    height: auto;
    border-radius: 0.4rem;
}

.movie-details {
    padding: 10px 0;
}

.movie-details h3 {
    margin-bottom: 10px;
    text-align: center;
    font-size:25px ;
    color: white;
}

.movie-details p {
    margin-bottom: 5px;
    font-size: 15px;
    color: black;
}

footer {
    background-color: #024cb5;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-logo img {
    width: 120px; /* Ajusta el tamaño del logo según sea necesario */
}

.footer-links ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-links ul li {
    margin: 0 10px;
}

.footer-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    padding: 10px 15px;
    border: 1px solid #fff;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.footer-links ul li a:hover {
    background-color: #fff;
    color: #024cb5;
}

.footer-bottom {
    margin-top: 20px;
}

.footer-bottom p {
    font-size: 12px;
    opacity: 0.7;
}

.hidden-info {
    display: none;
    background-color: #f0f0f0;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    text-align: center;
}

.hidden-info p {
    margin: 5px 0;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

button:hover::before {
    content: attr(title);
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    white-space: nowrap;
    z-index: 1;
}
